body {
    text-align: center;
}

#note-nav {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary-10);
    justify-content: space-between;
}
    

#note-nav ul {
    display: flex;
    list-style: none;
    padding: 1rem;
}

#note-nav a.active {
    color: var(--color-grey-10);
}

.logout-btn {
    background-color: var(--color-secondary-600);
    color: white;
}

#note-nav a {
    padding: 1em;
    color: white;
    text-decoration: none;
}

.note-nav-button:hover {
    background-color: var(--color-secondary-600);
    transition: .5s;
}

.del-btn:hover {
    background-color: var(--color-secondary-700);
    transition: .5s;
}

.edit-btn:hover {
    background-color: var(--color-primary-200);
    transition: .5s;
}

#add-button:hover {
    background-color: greenyellow;
    transition: .5s;
}
#note-add-form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200rem;
    grid-column: 2;
    padding: 1rem;
}

#note-add-section {
    background-color: var(--color-primary-600);
    min-width: 200px;
    max-width: none;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    padding: 1rem;
    justify-items: center;
}

#content-input {
    background-color: var(--color-primary-800);
    border: none;
    border-radius: .5rem;
    min-width: 20rem;
}

.note-item-content{
    line-height: 1rem;
    white-space: pre-line;
    text-align: left;
    padding-left: 1.5rem;
}

input {
    background-color: var(--color-primary-800);
    color: var(--color-grey-10);
    border: none;
    height: 1.5rem;
    border-radius: .5rem;
}

.close-modal {
    grid-column: 2;
    width: 10rem;
}

button {
    background-color: var(--color-secondary-500);
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.75rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

button a {
    text-decoration: none;
}

.note-item {
    background-color: var(--color-primary-600);
    border-radius: .5rem;
    width: 25rem;
    margin: .5rem;
    padding: .5rem;
    
}

.del-btn {
    background-color: var(--color-secondary-600);
}

.edit-btn {
    background-color: var(--color-primary-400);
}


#notes-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note-item-action {
    padding: 0;
}

#note-item-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

p.note-item-date{
    color: white;
    margin-top: 30px;
}

@keyframes fade-slide-up {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-slide-down {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  